.footer{
	display: flex;
	}

.logo{
	width: 3em;
}

.logo-insta{
	width: 2.5em;
	margin-top: .2em;
	margin-left: .4em;
	margin-right: .4em;
}

.logo-github{
	width: 2.5em;
	margin-top: .2em;
}

.github{
	display: flex;
	flex-direction: row;
	justify-content: flex-end;
	margin-left: 73em;
}

.deployed{
	margin-right: .5em;
}

.beautymx-footer{
	margin-left: 1em;
}

.soccialmedia{
	display: flex;
	flex-direction: row-reverse;
}